<!DOCTYPE HTML>
<html data-ng-app="Index">
<head>
<title>Online Tronics</title>
<link rel="stylesheet" href="logincss/style.css">
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script type='text/javascript' src="js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<link
	href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900'
	rel='stylesheet' type='text/css'>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css"
	media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>
	$(document).ready(function() {
		$(".megamenu").megamenu();
	});
</script>
<script src="js/menu_jquery.js"></script>
<script src="js/simpleCart.min.js">
	
</script>
</head>
<body>
	<!-- header_top -->
	<div class="top_bg">
		<div class="container">
			<div class="header_top">
				<div class="top_right">
					<ul>

						<span></span>
						<li><a href="contact.html">Contact Us</a></li>

					</ul>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- header -->
	<div class="header_bg">
		<div class="container">
			<div class="header">
				<div class="head-t">
					<div class="logo">
						<h1>
							<b>ONLINE TRONICS</b>
						</h1>

					</div>
					<!-- start header_right -->
					<div class="header_right">
						<div class="rgt-bottom">
							<div class="log">
								<div class="login">
									<div class="create_btn">
										<a href="login"><span>LOGIN</span></a>
										<div id="loginBox"></div>
									</div>
								</div>
							</div>
							<div class="create_btn">
								<a href="createUser">REGISTER</a>
							</div>
							<div class="cart box_1">
								<a href="checkout.html"> </a>

								<div class="clearfix"></div>
							</div>

							<div class="clearfix"></div>
						</div>
						<div class="search">
							<form>
								<input type="text" value="" placeholder="search..."> <input
									type="submit" value="">
							</form>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- start header menu -->
				<ul class="megamenu skyblue">
					<li class="active grid"><a class="color1" href="home">Home</a></li>
					<li class="grid"><a class="color2" href="#">Categories</a>
						<div class="megapanel">
							<div class="row">
								<div class="col1">
									<div class="h_nav">
										<h4>Computer Systems</h4>
										<ul>
											<li><a href=#>LED Monitors</a></li>
											<li><a href="products">Laptops</a></li>
											<li><a href="#">CPU</a></li>
											<li><a href="#">Mouse</a></li>
											<li><a href="#">Projector</a></li>

										</ul>
									</div>
								</div>
								<div class="col1">
									<div class="h_nav">
										<h4>Components</h4>
										<ul>
											<li><a href="#">CPU Fan</a></li>
											<li><a href="#">External Hard Drive</a></li>
											<li><a href="#">DVD Writer</a></li>
											<li><a href="#">RAM DDR-1,2,3</a></li>
										</ul>
									</div>
								</div>
								<div class="col1">
									<div class="h_nav">
										<h4>Networking</h4>
										<ul>
											<li><a href="#">Router</a></li>
											<li><a href="#">CCTV Camera</a></li>
											<li><a href="#">USB Cable</a></li>
											<li><a href="#">Parallel Cable</a></li>
										</ul>
									</div>
								</div>
								<div class="col1">
									<div class="h_nav">
										<h4>Office Solutions</h4>
										<ul>
											<li><a href="printers">Printer</a></li>
											<li><a href="#">Spike Guard</a></li>
											<li><a href="#">Ribbion Catridge</a></li>
											<li><a href="#">Card Reader</a></li>
											<li><a href="#">Antivirus</a></li>
										</ul>
									</div>
								</div>
								<div class="col1">
									<div class="h_nav">
										<h4>Miscellaneous</h4>
										<ul>
											<li><a href="#">Invertor</a></li>
											<li><a href="#">Cabinet</a></li>

										</ul>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col2"></div>
								<div class="col1"></div>
								<div class="col1"></div>
								<div class="col1"></div>
								<div class="col1"></div>
							</div>
						</div></li>
					<li><a class="color4" href="#">Contract</a>
						<div class="megapanel">
							<div class="row">
								<div class="col1">
									<div class="h_nav">
										<h4>Maintenance</h4>
										<ul>
											<li><a href="amcneed">Why do I need AMC</a></li>
											

										</ul>
									</div>
								</div>


							</div>
							<div class="row">
								<div class="col2"></div>
								<div class="col1"></div>
								<div class="col1"></div>
								<div class="col1"></div>
								<div class="col1"></div>
							</div>
						</div></li>
					<li><a class="color5" href="#">Auction</a>
						<div class="megapanel">
							<div class="row">
								<div class="col1">
									<div class="h_nav">
										<h4>Bidding</h4>
										<ul>
											<li><a href="women.html">Products</a></li>
										</ul>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col2"></div>
								<div class="col1"></div>
								<div class="col1"></div>
								<div class="col1"></div>
								<div class="col1"></div>
							</div>
						</div></li>
					<li><a class="color6" href="#">Services</a>
						<div class="megapanel">
							<div class="row">
								<div class="col1">
									<div class="h_nav">
										<h4>Support</h4>
										<ul>
											<li><a href="#">Online Query Solutions</a></li>
											<li><a href="#">Software Update</a></li>
											<li><a href="com">Complaint</a></li>
										</ul>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col2"></div>
								<div class="col1"></div>
								<div class="col1"></div>
								<div class="col1"></div>
								<div class="col1"></div>
							</div>
						</div></li>



					<div class="row">
						<div class="col2"></div>
						<div class="col1"></div>
						<div class="col1"></div>
						<div class="col1"></div>
						<div class="col1"></div>
					</div>
			</div>
			</li>
			</ul>
		</div>
	</div>
		<div class="container">		 
<br><div class="amc">
<h3 class="amc1">WHY DO I NEED AMC FOR MY DEVICES?</h3>
<div>
There are multiple electronic devices that are of daily use and are expensive. These devices sometimes tend to develop problems. These problems can sometimes cost a lot if a major part fails/breaks down and needs to be replaced. Add to it, the anguish and disruption to your routine it can create if the device stops working completely.

With due periodic maintenance, these devices can be protected and the high costs of repair avoided, allowing you peace of mind with regards to their usage. As the popular saying goes prevention is better than cure.
</div><br>
<b class="amc1">Benefits of AMC </b>
<div>
1.A one-time fee for year-long peace of mind with your everyday devices like Desktops,Laptops,Printers and many more
<br>2.Flexibility to design your own protection service plan
</div><br>
<b class="amc1">Convenience factor during sign up and requesting service</b><br>
<div>
1.Flexibility to either choose one of our recommended plans or design your own protection plan and include as many devices in your household to ensure complete peace of mind
<br>2.Sign up from the convenience of your home, through our technician, through phone or even online
<br>3.Call anytime for help with your devices or any related advise
	</div>
	<div><br>
	
		We always think that prevention is better than Cure, as we also
		believe that proper maintenance and Follow-up provides lowest down
		time in case of computer systems. We had noticed that most of the
		organization in IT industry is unable to provide sound after sales
		support, simply because of lack of concentration in the field of
		after-sales-support. <br>  We have full fledged after
		sales department. Headed by one of the trained staff of the
		organization. We have huge inventory of the spares, we are sure that
		will minimize your down time to great extent. Our teams of support
		engineers are always on alert to solve your problem irrelevant of
		Software or Hardware.
	</div><br><br>
	<div><h4>To see Our AMC Plans Please <a href="login.html">Login</a> First.</h4>
	</div>
	
			</div>
			
			</div>
			<div class="clearfix"> </div>
		</div>
		
</div>
</div>
</body>
</html>